<!DOCTYPE html>
<html lang="en">

    <%- include('../../layout/head') %>
<body>
    <%- include('../../layout/header') %>

    <main>
        <div id="container">
            <h4>Search by Title or Author</h4>
            <form action="/searches" method="POST">
                <input type="text" name="search" placeholder="Enter a title or author" required>
                <fieldset>
                    <div id="inline">
                        <label for="title">
                            <span>Title</span>
                            <input type="radio" name="searchBy" value="title" required>
                        </label>
                </fieldset>
                <fieldset>
                    <label for="author">
                        <span>Author</span>
                        <input type="radio" name="searchBy" value="author" required>
                    </label>
        </div>
        </fieldset>
        <button type="submit">Search the Google Books API</button>
        </form>
        </div>
    </main>
</body>

</html>