<html lang="en">
<head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/module.css">
</head>
<body>
    <header>
        <h1>Best books!</h1>
        <section id="heroImage">
            <img src="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" alt="">
        </section>
        <section id="homePage">Home page</section>
    </header>
    <main>
        <p id="para"> Books Application</p>
        
    </main>
</body>
</html>