@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Playfair+Display&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color:wheat;
    font-family: 'Noto Sans KR', sans-serif;
        font-size: x-large;
        text-align: center;
}

/*Mobile*/  
@media only screen and (max-width: 768px){
    body {
      width: 500px;
    }
}


/*Desktop*/  
@media only screen and (min-width: 768px){
    body {
      width: 960px;
    }
}