header{
    background-color: #2b2e4a;
    color: white;
    width: 100%;
   margin-left: 270px;
}

header h1{
    font-size: xxx-large;
   transform: translate( 0,100px);
}
/*Mobile*/  
@media only screen and (max-width: 768px){

    
    #results{
        display: flex;
        flex-wrap: wrap;
        justify-content:  center;
      }
      .book-template{
        text-align: center;
      
        align-items: center;
        box-shadow: 5px 10px 18px #000;
        padding: 5%;
        margin: 7%;
       background-color: #ddffbc;
      }
      }

/*Desktop*/  
@media only screen and (min-width: 768px){
    body{
        width: 960px;
        }
        
  

    #results{
        display : grid;
        width: 150%;
        text-align: center;
    }
    .book-template{
        box-shadow: 5px 10px 18px #000;
        text-align: center;
        justify-content: center;
        align-items: center;
       padding: 5%;
       margin: 7%;
       background-color: #dbf6e9;
     
      
        
    }

    .book-template:nth-child(odd){
        clear: both;
        float: left;
    }
    .book-template:nth-child(even){
        float: right;
    }
}
