header{
    background-color: #2b2e4a;
    color: white;
    width: 100%;
   margin-left: 270px;
}

header h1{
    font-size: xxx-large;
   transform: translate( 0,100px);
}
/*Mobile*/  
@media only screen and (max-width: 768px){
    #book-template{
        width: 500px;
        border: 1px solid black;
        margin-top: 50px;
        text-align: center;
        font-size: 15px;
        line-height: 1.5em;
    }
}

/*Desktop*/  
@media only screen and (min-width: 768px){
    .book-template{
        width: 400px;
        border: 1px solid black;
        margin-top: 50px;
        text-align: center;
        font-size: 15px;
        line-height: 1.5em;
        float: right;
      
        
    }

    .book-template:nth-child(odd){
        clear: both;
        float: left;
    }
    .book-template:nth-child(even){
        float: right;
    }
}
