
button {
    width: 50%;
    background-color: #e2703a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 500px;
    margin-top: 30px;
  }

  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }
 #inline{
      
      display:inline-block;
  }
  
  #heroImage{
    background-repeat: no-repeat;
    background-size: contain, cover;
    margin-left: 200px;
    
    
  }
  
  #container{
      margin-left: 500px;
      margin-top: 30px;
  }
  

  #homePageBooks{
    text-align: center;
    box-sizing: border-box ;
    transform: translate(300px);
  }
#des{
  transform: translate(15px); 
}
  #homePage{
    text-align: center;
    transform: translate(0, -300px);
    font-size: x-large;
  }
#description{
  text-align: justify;
}

#addbutton{
 
  transform: translate(-300px,30px);

}

.hidden{
  display: none;
}

#results{
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 20px;
}