<header>
    <h1>Best books!</h1>
    <section id="heroImage">
        <img src="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" alt="">
        <nav>
          <ul>
          <li><a class="pages" href="http://localhost:5000">Home Page</a>
          </li>
          <li>  <a class="pages" href="http://localhost:5000/searches/new">Search For Books</a></li>
        </ul>
        </nav>
    </section>
</header>