<header>
    <h1>Best books!</h1>
    <section id="heroImage">
        <img src="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" alt="">
    </section>
    <section id="homePage">Home page</section>
</header>